requests
beautifulsoup4
pandas
gspread
gspread-dataframe
oauth2client
openpyxl
selenium
seleniumbase
selenium_stealth
undetected-chromedriver
webdriver-manager
pyinstaller
xlsxwriter
PySide6
psutil
rapidfuzz
lxml
cloudscraper
thefuzz
python-Levenshtein
mkdocs-material 
mkdocs-static-i18n